@model IEnumerable<ApplicationCore.Entities.BreedCount>

@{
    ViewData["Title"] = "DogsByBreed";
}

<h2>DogsByBreed</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BreedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BreedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>

            </tr>
        }
    </tbody>
</table>

<div id="breed-data">
@foreach (var item in Model)
{
    <input type="hidden" id="@item.BreedName" value="@item.Count" />
}
</div>

    <div id="graph-breed-count"></div>


@section Scripts {
    <script src="~/js/plotly-latest.min.js"></script>
    <script src="~/js/countBreed.js"></script>
}
