@model IEnumerable<ApplicationCore.Entities.BreedCount>

@{
    ViewData["Title"] = "DogsByBreed";
}

<h2>Current Dog Breed Count</h2>

<p>
</p>


<div id="breed-data">
@foreach (var item in Model)
{
    if (item.Count > 1 || item.BreedName == "* Other *")
    {
    <input type="hidden" id="@item.BreedName" value="@item.Count" />
    }
}
</div>

    <section id="graph-breed-count"></section>

<div>
    <button id="count-details-button">Show Details</button>
</div>
    <table id="breed-count-table" class="table hideSection">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BreedName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.BreedName != "* Other *")
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BreedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>

            </tr>
                }
            }
        </tbody>
    </table>



@section Scripts {
    <script src="~/js/plotly-latest.min.js"></script>
    <script src="~/js/countBreed.js"></script>
}
