
@model IEnumerable<ApplicationCore.Entities.Dog>


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <img src="~/images/fireHydrant.jpg" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Currrent Dogs</h2>
        @foreach(var item in Model)
        {

        <div>
            <h4>@item.Name</h4>
            <ul>
                <li>ID: @item.Id</li>
                <li>Status: @item.CurrentStatus</li>
                <li>Location: @item.LocationId</li>
            </ul>
        </div>

        }
    </div>
    <div class="col-md-4">
        <h2>Reporting Tools</h2>
        @Html.ActionLink("Current Dogs By Breed", "DogsByBreed") |
    </div>
    <div class="col-md-4">
        <h2>Dogs By Locations</h2>

   

    </div>
</div>
