
@model KennelManager.Models.HomeViewModels.CurrentDogListViewModel



@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <img src="~/images/threePlayingDogs.jpg" id="three-dogs" class="img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Currrent Dogs</h2>
        @foreach (var item in Model.CurrentDogs)
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                   @Html.ActionLink(item.Name, "DisplayDog", new { id = item.Id }) 
                </div>
                <div class="panel-body">
                <ul class="list-unstyled">
                    <li class="">ID: @item.Id</li>
                    <li class="">Status: @Html.ActionLink(item.CurrentStatus, "DogStatusHistory", new { id = item.Id })</li>
                    <li class="">Location: @item.LocationId</li>
                </ul>
                </div>
            </div>

        }
    </div>
    <div class="col-md-4">
        <h2>Reporting Tools</h2>
        <div class="panel">
        @Html.ActionLink("Current Dogs By Breed", "DogsByBreed") 
        </div>
        <div class="panel">
        @Html.ActionLink("Mixed vs Pure Breeds", "MixedPureBreed")
            </div>
    </div>
    <div class="col-md-4">
        <h2>Dogs By Locations</h2>
        @foreach (var item in Model.LocationList)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@item.Location</div>
                <div class="panel-body">
                <ul class="list-unstyled">
                    @foreach (var dog in item.DogList)
                    {
                    <li>
                        @Html.ActionLink(dog.Name, "DisplayDog", new { id = dog.Id })
                    </li>
                    }
                </ul>
                    </div>
            </div>

        }



    </div>
</div>
